{% block TransactionRequestFormType_row %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.profile) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.customId) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.finalDocSent) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.finalDocRequesterSent) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.finalDocObserverSent) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
        {#<div class="col-md-4">
            {{ form_row(form.certificateType) }}
        </div>#}
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.language) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.handwrittenSignatureMode) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.chainingMode) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.finalDocCCeMails) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.autoValidationRedirection) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.redirectPolicy) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.redirectWait) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.autoSendAgreements) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.operator) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.registrationCallbackURL) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.successRedirection) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.cancelRedirection) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.failRedirection) }}
        </div>
    </div>
{% endblock %}