{%  block docSignatureFormType_row %}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.page) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.x) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.y) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.signerIndex) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.patternName) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.label) }}
    </div>
</div>
{% endblock %}
