{% block tansaction_signer_row %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.certificateType) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.birthdate) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.mobile) }}
        </div>
    </div>
    <div class="row" id="prevalCNI">
        <div class="col-md-12">
            {{ form_row(form.prevalCNI) }}
        </div>
    </div>
    <div class="row border" id="identityVal">
        <div class="col-md-12">
            {{ form_row(form.type) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.cni1) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.cni2) }}
        </div>
    </div>
    <div class="row" id="identityPreVal">
        <div class="col-md-12">
            {{ form_row(form.validationSessionId) }}
        </div>
    </div>
{% endblock %}