{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Create your account</h6>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn btn-outline-primary mt-3 btn-block" type="submit">
                        Register
                    </button>
            {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
