{% extends 'base.html.twig' %}

{% block title %}Recherche de compte{% endblock %}

{% block body %}

    <div class="container mt-2">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Recherche de compte universign
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.lastname) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.firstname) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.mobile) }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% if matchAccountService is defined %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Résultat
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% if matchAccountService.fault is defined and matchAccountService.fault is not null %}
                                    {{ include('universign/fault.html.twig', {fault: matchAccountService.fault}) }}
                                {% endif %}
                                {% if matchAccountService.bestResult is defined and matchAccountService.bestResult is not null %}
                                    <div class="col-md-4">
                                        {% if matchAccountService.bestResult.findMobile is defined %}
                                            {{ include('universign/resultAccount.html.twig', {account: matchAccountService.bestResult.findMobile}) }}
                                        {% endif %}
                                        {% if matchAccountService.bestResult.findEmail is defined %}
                                            {{ include('universign/resultAccount.html.twig', {account: matchAccountService.bestResult.findEmail}) }}
                                        {% endif %}
                                        {% if matchAccountService.bestResult.email is defined %}
                                            {{ include('universign/resultAccount.html.twig', {account: matchAccountService.bestResult}) }}
                                        {% endif %}
                                    </div>
                                    {% if matchAccountService.explanation is defined and matchAccountService.explanation is not null %}
                                        <div class="col-md-8">
                                            <div class="card">
                                                <div class="card-body">
                                                    {{ matchAccountService.explanation }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                            <div class="card-footer text-muted">
                                {% if isValid1 is defined and isValid1 is not null and isValid2 is defined and isValid2 is not null %}
                                {% if isValid1 is defined %}<p>Eligible signature niveau 1
                                    : {{ isValid1 ? 'Oui' : 'Non' }}</p>{% endif %}
                                {% if isValid2 is defined %}<p>Eligible signature niveau 2
                                    : {{ isValid2 ? 'Oui' : 'Non' }}</p>{% endif %}
                                {% endif %}
                                {{ include('universign/completeResponse.html.twig',{requestresponse:requestresponse}) }}
                            </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
