{% extends 'base.html.twig' %}

{% block title %}Hello UniversignController!{% endblock %}

{% block body %}

    <div class="container mt-2">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="card">
            <div class="card-header">
                Recherche de compte universign
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.birthdate) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.cni1) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.cni2) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="card mt-2" {% if requestresponse is not defined %} style="display:none"{% endif %}>
            <div class="card-header">
                Résultat
            </div>
            <div class="card-body">
                {% if explanation is defined %}
                <ul class="list-group">
                    {% for explain in explanation %}
                        <li class="list-group-item">{{ explain }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="mt-2 text-align">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseDetail" aria-expanded="false" aria-controls="collapseDetail">
                        Détail complet de la reponse
                    </button>
                </p>
                <div class="collapse" id="collapseDetail">
                    <div class="card card-body">
                        {% if requestresponse is defined %}
                            {{ dump(requestresponse) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
