{% extends 'base_form.html.twig' %}

{% block title %}Signature de documents{% endblock %}

{% block form_content %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Compte universign pour signer
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {{ form_row(form.signer) }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                        Documents envoyés en signature
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {{ form_row(form.readDocuments) }}
                    {{ form_row(form.signDocuments) }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTree">
                <h2 class="mb-0">
                    <button class="btn btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false"
                            aria-controls="collapseTree">
                        Option du cartouche de signature
                    </button>
                </h2>
            </div>
            <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionExample">
                <div class="card-body">
                    {{ form_row(form.confdocsign) }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFoor">
                <h2 class="mb-0">
                    <button class="btn btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFoor" aria-expanded="false"
                            aria-controls="collapseFoor">
                        Comportement de la signature
                    </button>
                </h2>
            </div>
            <div id="collapseFoor" class="collapse" aria-labelledby="headingFoor" data-parent="#accordionExample">
                <div class="card-body">
                    {{ form_row(form.confsign) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block form_result %}
    {% if service.fault is defined and service.fault is not null %}
        {{ include('universign/shared/fault.html.twig', {fault: service.fault}) }}
    {% else %}
        {% if originalResult is defined %}

        {% endif %}
    {% endif %}
{% endblock %}
{% block form_javascripts %}
    <script>

        jQuery(document).ready(function () {
            changePrevalChoice();
            $('.conf-doc-sign').collection({
                prefix: 'config-sign-collection',
                init_with_n_elements: 1,
                add_at_the_end: false,
                allow_up: false,
                allow_down: false,
                allow_duplicate: false,
                add: '<button type="button" class="btn btn-outline-primary m-2">Ajouter</button>',
                remove: '<button type="button" class="btn btn-outline-primary m-2">Supprimer</button>',
            });
            $('.read-documents').collection({
                prefix: 'read-documents-collection',
                add_at_the_end: true,
                allow_duplicate: false,
                allow_up: false,
                allow_down: false,
                add: '<button type="button" class="btn btn-outline-primary m-2">Ajouter un document à lire</button>',
                remove: '<button type="button" class="btn btn-outline-primary">Supprimer</button>',
            });
            $('.sign-documents').collection({
                prefix: 'sign-documents-collection',
                add_at_the_end: true,
                allow_duplicate: false,
                allow_up: false,
                allow_down: false,
                add: '<button type="button" class="btn btn-outline-primary m-2">Ajouter un document à signer</button>',
                remove: '<button type="button" class="btn btn-outline-primary">Supprimer</button>',
            });
            $('.finalDocCCeMails').collection({
                prefix: 'final-doc-ccemails',
                init_with_n_elements: 1,
                add_at_the_end: true,
                allow_duplicate: false,
                allow_up: false,
                allow_down: false,
                add: '<button type="button" class="btn btn-outline-primary m-2">Ajouter un mail</button>',
            });
        });

    </script>
{% endblock %}