{% extends 'base_form.html.twig' %}

{% block title %}Recherche de compte{% endblock %}

{% block form_content %}
    <div class="card-header">
        Recherche de compte Universign
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.lastname) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.firstname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.mobile) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block form_result %}
    {% if service.fault is defined and service.fault is not null %}
        {{ include('Shared/Fault.html.twig', {fault: service.fault}) }}
    {% endif %}
    {% if service.bestResult is defined and service.bestResult is not null %}
        <div class="col-md-4">
            {% if service.bestResult.findMobile is defined %}
                {{ include('Shared/ResultAccount.html.twig', {account: service.bestResult.findMobile}) }}
            {% endif %}
            {% if service.bestResult.findEmail is defined %}
                {{ include('Shared/ResultAccount.html.twig', {account: service.bestResult.findEmail}) }}
            {% endif %}
            {% if service.bestResult.email is defined %}
                {{ include('Shared/ResultAccount.html.twig', {account: service.bestResult}) }}
            {% endif %}
        </div>
        {% if service.explanation is defined and service.explanation is not null %}
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        {{ service.explanation }}
                        <br><br>
                        {% if isValid1 is defined and isValid1 is not null and isValid2 is defined and isValid2 is not null %}
                            {% if isValid1 is defined %}<p>Eligible signature niveau 1
                                : {{ isValid1 ? 'Oui' : 'Non' }}</p>{% endif %}
                            {% if isValid2 is defined %}<p>Eligible signature niveau 2
                                : {{ isValid2 ? 'Oui' : 'Non' }}</p>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

