{% extends 'base_form.html.twig' %}

{% block title %}Prevalidation de Carte d'Identité{% endblock %}

{% block form_content %}
    <div class="card-header">
        Pré-validation d'une pièce d'identité
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.lastname) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.birthdate) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.type) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.cni1) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.cni2) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block form_result %}
    {% if service.fault is defined and service.fault is not null %}
        {{ include('Shared/Fault.html.twig', {fault: service.fault}) }}
    {% else %}
        {% if originalResult.status == 1 %}
            <div class="alert alert-success col-md-2 offset-md-5 text-center" role="alert">
                Validé !
            </div>
            <div class="col-md-12">
                <span class="">Id de validation : {{ originalResult.id }}</span>
            </div>
        {% else %}
            {% if explanation is defined %}
                <div class="col-md-12">
                    <ul class="list-group">
                        {% for explain in explanation %}
                            <li class="list-group-item">{{ explain }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block form_javascripts %}
    <script>
        $('#form_cni1').on('change', function () {
            let fileName = $(this).val();
            let n = fileName.lastIndexOf('\\');
            n = (n === undefined) ? fileName.lastIndexOf('/') : n;
            let result = fileName.substring(n + 1);
            $(this).next('.custom-file-label').html(result);
        })
        $('#form_cni2').on('change', function () {
            let fileName = $(this).val();
            let n = fileName.lastIndexOf('\\');
            n = (n === undefined) ? fileName.lastIndexOf('/') : n;
            let result = fileName.substring(n + 1);
            $(this).next('.custom-file-label').html(result);
        })
    </script>
{% endblock %}