{% if account is defined %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <span>Email : </span>
            </div>
            <div class="col-md-8">
                <span{% if '**' not in  account.email %} class="text-success"{% endif %}>{{ account.email }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span>Mobile : </span>
            </div>
            <div class="col-md-8">
                <span {% if '**' not in  account.mobile %} class="text-success"{% endif %}>{{ account.mobile }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span>Nom : </span>
            </div>
            <div class="col-md-8">
                <span{% if '**' not in  account.lastname %} class="text-success"{% endif %}>{{ account.lastname }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span>Prénom : </span>
            </div>
            <div class="col-md-8">
                <span{% if '**' not in  account.firstname %} class="text-success"{% endif %}>{{ account.firstname }}</span>
            </div>
        </div>
        {% if account.certificateStatus is defined %}
        <div class="row">
            <div class="col-md-4">
                <span>Certificate status : </span>
            </div>
            <div class="col-md-8">
                {% if account.certificateStatus == "valid" %}
                    <span class="text-success">{{ account.certificateStatus }}</span>
                {% elseif account.certificateStatus == "awaiting_validation" %}
                    <span class="text-danger">{{ account.certificateStatus }}</span>
                {% elseif account.certificateStatus == "awaiting_agreement" %}
                    <span class="text-danger">{{ account.certificateStatus }}</span>
                {% else %}
                    <span class="text-warning">{{ account.certificateStatus }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if account.certificateLevel is defined %}
        <div class="row">
            <div class="col-md-4">
                <span>Certificat : </span>
            </div>
            <div class="col-md-8">
                {% if account.certificateLevel == "certified" %}
                    <span class="text-success">{{ account.certificateLevel }}</span>
                {% else %}
                    <span>{{ account.certificateLevel }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}